.Blueprint {
    &-Material {
        display: flex;
        justify-content: flex-start;

        padding-left: 36px;

        &_expandable {
            padding-left: 0;
        }
    }
    
    &-ExpandButton {
        font-family: monospace;

        cursor: pointer;

        margin-right: 15px;
    }
}